
/* Inicio Barra de Rolagem */
/* largura */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ccc; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Final Barra de Rolagem */
/* --------------------------------------------------------------------------------------------- */